<div class="col-md-4 col-md-offset-4">
  <div class="form-group">
    <%= simple_form_for [@group, @post] do |f| %>
      <%= f.input :content, input_html: { class: "form-control" } %>
      <%= f.submit "submit", disable_with: "submiting...", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
